*.iml
*.iws
*.eml
.DS_Store
.svn
log/*.log
tmp/**
.sass-cache
css/reveal.min.css
js/reveal.min.js

node_modules/
examples/node_modules/

out/
.idea/inspectionProfiles/
.idea/sonarlint/
reveal.js/.idea/

examples/docs/.idea/.gitignore
examples/docs/.idea/misc.xml
examples/docs/.idea/modules.xml
examples/docs/.idea/vcs.xml
examples/.idea/$CACHE_FILE$
examples/.idea/.gitignore
examples/.idea/inspectionProfiles/
examples/.idea/misc.xml
examples/.idea/modules.xml
examples/.idea/vcs.xml
examples/examples/.idea/$CACHE_FILE$
examples/examples/.idea/.gitignore
examples/examples/.idea/misc.xml
